<template>
  <div ref="content" class="content">
    <div class="bg" @click="hidePoster()">
      <div ref="starBox">
        <!-- A星 -->
        <div class="star" v-if="random_star == 1">
          <!-- 男 -->
          <div v-if="gender == 'man'">
            <img src="../../assets/images/details/A-M-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/A-M.png" width="60%" alt="">
              
            </div>
          </div>
          <!-- 女 -->
          <div v-if="gender == 'woman'">
            <img src="../../assets/images/details/A-W-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/A-W.png" width="60%" alt="">
              
            </div>
          </div>
        </div>
        <!-- C星 -->
        <div class="star" v-if="random_star == 2">
          <!-- 男 -->
          <div v-if="gender == 'man'">
            <img src="../../assets/images/details/C-M-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/C-M.png" width="60%" alt="">
              
            </div>
          </div>
          <!-- 女 -->
          <div v-if="gender == 'woman'">
            <img src="../../assets/images/details/C-W-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/C-W.png" width="60%" alt="">
              
            </div>
          </div>
        </div>
        <!-- I星 -->
        <div class="star" v-if="random_star == 3">
          <!-- 男 -->
          <div v-if="gender == 'man'">
            <img src="../../assets/images/details/I-M-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/I-M.png" width="60%" alt="">
              
            </div>
          </div>
          <!-- 女 -->
          <div v-if="gender == 'woman'">
            <img src="../../assets/images/details/I-W-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/I-W.png" width="60%" alt="">
              
            </div>
          </div>
        </div>
        <!-- L星 -->
        <div class="star" v-if="random_star == 4">
          <!-- 男 -->
          <div v-if="gender == 'man'">
            <img src="../../assets/images/details/L-M-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/L-M.png" width="60%" alt="">
              
            </div>
          </div>
          <!-- 女 -->
          <div v-if="gender == 'woman'">
            <img src="../../assets/images/details/L-W-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/L-W.png" width="60%" alt="">
              
            </div>
          </div>
        </div>
        <!-- P星 -->
        <div class="star" v-if="random_star == 5">
          <!-- 男 -->
          <div v-if="gender == 'man'">
            <img src="../../assets/images/details/P-M-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/P-M.png" width="60%" alt="">
              
            </div>
          </div>
          <!-- 女 -->
          <div v-if="gender == 'woman'">
            <img src="../../assets/images/details/P-W-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/P-W.png" width="60%" alt="">
              
            </div>
          </div>
        </div>
        <!-- S星 -->
        <div class="star" v-if="random_star == 6">
          <!-- 男 -->
          <div v-if="gender == 'man'">
            <img src="../../assets/images/details/S-M-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/S-M.png" width="60%" alt="">    
            </div>
          </div>
          <!-- 女 -->
          <div v-if="gender == 'woman'">
            <img src="../../assets/images/details/S-W-Text.png" width="55%" alt="">
            <div class="avatar">
              <img class="avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
              <div class="avatar-url">
                <img :src="avatarUrl" v-if="avatarUrl != ''">
              </div>
            </div>
            <div class="details_A">
              <img src="../../assets/images/details/S-W.png" width="60%" alt="">
              
            </div>
          </div>
        </div>
        <div class="btn-group">
          <img @click.stop="goStart()" src="../../assets/images/details/btn1.png" width="30%" alt="">
          <img @click.stop="poster()" src="../../assets/images/details/btn2.png" width="30%" alt="">
          <img @click.stop="share()" src="../../assets/images/details/btn3.png" width="30%" alt="">
        </div>
        <!-- <div ref="posterDiv" class="posterDiv" style="display:none;">
          <img src="../../assets/images/poster/demo.jpg" alt="">
        </div> -->


      </div>
      <div ref="posterDivBox" class="posterDivBox">
            <poster ref="posterDiv" class="posterDiv" v-show="posterDivShow" v-on:listenchildevent="showMsgFromChild">
        </poster>
      </div>
      <div ref="posterDiv" @click.stop="" class="posterDiv2" style="display:none;">
        <img :src="posterDivResult" style="width:100%;" alt="">
      </div>
    </div>

  </div>
</template>

<script>
    import html2canvas from 'html2canvas'

    import poster from '@/components/starPoint/Poster.vue'

    export default {
        name: 'Details',
        components: {
            poster,
        },
        data() {
            return {
                gender: '',
                random_star: '',
                avatarUrl: '',
                isshow: true,
                posterDivShow: false,
                posterDivResult: "",
                isCreate: false,
            }
        },
        mounted() {
            this.$root.isshowBGM = true;//显示背景音乐的图标
            this.gender = localStorage.getItem('gender')
            this.random_star = localStorage.getItem('random_star')
                // this.avatarUrl = this.$root.avatarIMG
            this.avatarUrl = localStorage.getItem('avatarUrl')
            if(this.avatarUrl == null || this.avatarUrl == ''){
              this.goStart()
            }
        },
        methods: {
            // 点击改变显示详情A面还是B面
            checkShow(flag) {
                this.isshow = flag;
            },
            goStart() {
                // 重新预测并清除缓存
                // localStorage.removeItem('avatarUrl');
                // // this.$root.avatarIMG = ''
                // localStorage.removeItem('gender');
                // localStorage.removeItem('random_star');
                this.$router.replace('/starpoint/start');

            },
            share() {
                this.$router.replace('/starpoint/share');
            },
            poster() {
                // this.$router.replace('/starpoint/poster');

                if (!this.isCreate) {

                    this.toImage2(() => {

                        this.$refs.posterDiv.style.display = 'block';
                        

                        this.$nextTick(() => {
                            let boxH = parseInt(getComputedStyle(this.$refs.starBox).height) * 0.9;
                            let _fcW = parseInt(getComputedStyle(this.$refs.posterDiv).width);
                            let _fcH = parseInt(getComputedStyle(this.$refs.posterDiv).height);
                            let _scale = boxH / _fcH;
                            this.$refs.posterDiv.style.width = _fcW * _scale + 'px';


                            this.isCreate = true;
                            this.$dialog.loading.close();
                            document.body.style.overflow = 'auto';
                        })
                    });
                } else {
                    this.$refs.posterDiv.style.display = 'block';
                }
            },
            hidePoster() {
                if (this.$refs.posterDiv.style.display == 'block') {
                    this.$refs.posterDiv.style.display = 'none';
                }
            },
            showMsgFromChild(data) {
                if (data[0] == "finish") {
                    this.posterDivResult = data[1];
                    this.posterDivShow = true;

                }
            },
            toImage2(callback) {
                let that = this;

                this.posterDivShow = true;
                this.$nextTick(() => {
                    this.$dialog.loading.open('海报正在生成中');
                    document.body.style.overflow = 'hidden';
                    // 第一个参数是需要生成截图的元素,第二个是自己需要配置的参数,宽高等
                    html2canvas(this.$refs.posterDivBox, {
                        backgroundColor: null,
                        useCORS: true
                    }).then((canvas) => {
                        let url = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"); // 获取生成的图片的url
                        let img = document.createElement("img");
                        img.onload = () => {

                            this.posterDivResult = url;
                            this.posterDivShow = false;

                            callback && callback();
                        }
                        img.src = url;
                        // img.style.width = "100%"
                        // that.$refs.getResult.appendChild(img)

                    })

                })
            },
        }

    }
</script>

<style lang="less" scoped>
    .content {
        width: 100%;
        height: 100%;
        background: #07336d
    }
    
    .bg {
        width: 100%;
        height: 100%;
        background: url('/static/img/starbg.png') center;
        background-size: cover;
        /* //   display: flex;
        //   flex-direction: column;
        //   align-items: center;
        //   justify-content: center;
        //   box-sizing: border-box; */
        overflow-y: scroll;
        overflow-x: hidden;
        .star {
            margin-top: 15px;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                width: 100%;
                box-sizing: border-box;
                .avatar {
                    width: 220px;
                    height: 220px;
                    position: relative;
                    margin-top: -15px;
                    overflow: hidden;
                    .avatar-box {
                        animation: myrotate 50s infinite linear;
                    }
                    .avatar-url {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        img {
                            width: 130px;
                            height: 130px;
                            border-radius: 50%;
                        }
                    }
                }
                .details_A {
                    /* height: 250px; */
                    margin-bottom: 15px;
                    .down {
                        position: absolute;
                        /* margin-top: -25px; */
                        width: 13%;
                        bottom: -2%;
                        animation: updown 1s infinite linear;
                        z-index: 3
                    }
                }
                .details_B {
                    /* height: 250px; */
                    margin-top: -5px;
                    .up {
                        position: absolute;
                        width: 13%;
                        top: -10%;
                        /* margin-bottom: 10px; */
                        animation: updown 1s infinite linear;
                        z-index: 3
                    }
                }
            }
        }
        .btn-group {
            /* position: absolute;
            bottom: 2%; */
            width: 100%;
            /* //   display: flex;
        //   flex-direction: row;
        //   align-items: center;
        //   justify-content: center; */
            /* margin: 10px; */
            text-align: center;
            z-index: 3;
        }
    }
    
    img {
        // animation: fadeIn 1s ease-in;
    }
    
    .posterDiv,.posterDiv2 {
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        z-index: 5;
        img {
            width: 100%;
        }
    }
    .posterDiv2{
      top: 10px
    }
    
    .posterDivBox {
        position: absolute;
        top: 100%;
        left: 0;
    }
</style>