<template>
    <div class="bg" ref='bg' >
      <img  class="drawlinestar" src="../../assets/images/drawline/star.png"  alt="">
      <div class="start">
          <div ref="d_roate">
              <img  class="roate" src="/static/img/start.png" style="width:280px" alt="">
          </div>
          <img ref="d_text" class="text" src="../../assets/images/drawline/text.png" style="width:50%" alt="">
      </div>
      <div style="position: fixed;bottom: 20px;width:100%;text-align: center">
        <img @click="again()" src="../../assets/images/drawline/btn2.png" width="30%" style="z-index: 5;" alt="">
        <img @click="goTest()" src="../../assets/images/drawline/btn.png" width="30%" style="margin-left:10%;z-index: 5;" alt="">
      </div>
    </div>
</template>

<script>
 let canvas
 let canvasScale = 3;
 let random = 25  * canvasScale;
 let baseX = 1.9  * canvasScale;//星点横坐标基数
 let baseY = 1.7  * canvasScale;//星点纵坐标基数
 let isline = false;//判断是否连接星点
 let startPoint = false//触屏开始时并未点在星星上 此时需判断 滑动手指经过 的第一个 星点为连线起始点
let mo = function(e){e.preventDefault();};
export default {
name: 'DrawLine',
  data () {
    return {
      msg: '',
      offsetWidth:'',
      ARR_POINT:'',
      ARR_POINT_times:0,
      moveX:'',
      moveY:'',
      start:true,
      text:true
    }
  },
  methods:{
    // 初始化画布和星点
    init(){
      canvas = document.createElement('canvas')
      canvas.style.width='100%'
      canvas.width = document.body.offsetWidth  * canvasScale
      canvas.height = (document.body.offsetHeight - 60)* canvasScale
      canvas.style.position = 'relative' 
      canvas.style.zIndex = 2 
      canvas.id = '_canvas' 
      this.ARR_POINT.forEach(point => {
        this.create_point(point.x,point.y)
      });
      this.$refs.bg.appendChild(canvas)
    },
    create_point(x,y){
        var ctx = canvas.getContext("2d");
        ctx.beginPath();
        ctx.arc(x,y,3 * canvasScale,0,2*Math.PI);
        // ctx.shadowBlur = 20;
        // ctx.shadowColor ="#ffffff";
        ctx.fillStyle="#ffffff";
        ctx.strokeStyle="#ffffff";
        ctx.fill()
        ctx.stroke();
        ctx.closePath();
    },
    //星点连完毕点击箭头跳转页面
    goTest(){
      if(isline && this.ARR_POINT_times > 1){
        document.body.removeEventListener('touchmove',mo,{passive: false}); 
        if((this.ARR_POINT_times >= 2 && this.ARR_POINT_times <= 3) || (this.ARR_POINT_times >= 31 && this.ARR_POINT_times <= 37)){
          // c
            localStorage.setItem('random_star', 2)
        }else if(this.ARR_POINT_times >= 4 && this.ARR_POINT_times <= 7){
          // I
           localStorage.setItem('random_star', 3)
        }else if(this.ARR_POINT_times >= 8 && this.ARR_POINT_times <= 12){
          // S
          localStorage.setItem('random_star', 6)
        }else if(this.ARR_POINT_times >= 13 && this.ARR_POINT_times <= 18){
          // A
          localStorage.setItem('random_star', 1)
        }else if(this.ARR_POINT_times >= 19 && this.ARR_POINT_times <= 24){
          // P
          localStorage.setItem('random_star', 5)
        }else if(this.ARR_POINT_times >= 24 && this.ARR_POINT_times <= 30){
          // L
          localStorage.setItem('random_star', 4)
        }
        console.log(this.ARR_POINT_times)
        // localStorage.setItem('random_star', parseInt(this.ARR_POINT_times % 6))
        this.$router.replace('/starpoint/result')
      }else{
        this.$dialog.toast({
          mes: '您并未连接任何星点，无法为您预测星缘哦~',
          timeout: 2000
        });
      }
    },
    again(){
      this.ARR_POINT_times = 0
      this.ARR_POINT.forEach(point => {
        point.status = false;
      })
      this.$refs.bg.removeChild(document.getElementById('_canvas'))
      isline = false;//判断是否连接星点
      this.init()
      this.drawline()
    },
    drawline(){
        var that = this
        var ctx = canvas.getContext("2d");
        //阻止左右翻页
            var xStart, xEnd, yStart, yEnd;
        //监听手指触屏开始的一瞬间
        canvas.addEventListener('touchstart',function(e){
          // console.log(that.ARR_POINT[0].x,that.ARR_POINT[0].y)
          xStart = e.touches[0].pageX;
          yStart = e.touches[0].pageY;
          let startX = parseInt(e.touches[0].clientX * canvasScale)
          let startY = parseInt(e.touches[0].clientY * canvasScale)
          // console.log(startX + ',' + startY)
          //循环星点数组，如果开始触摸屏幕位置在 数组中某一星点周围 则从此星点开始连线
          that.ARR_POINT.forEach(point => {
            if((startX >= point.x - random && startX <= point.x + random) && (startY >= point.y - random && startY <= point.y + random)){
              // console.log(point.x + ',' + point.y)
              that.moveX = point.x;
              that.moveY = point.y;
              
              ctx.beginPath();
              ctx.moveTo(that.moveX,that.moveY);//将画笔移到此处 连线 的起始点
              startPoint = true;
            }else{
              // console.log('no')
              startPoint = false;
            }
          });

        });
        //监听手指滑动
          canvas.addEventListener('touchmove',function(e){
            xEnd = e.touches[0].pageX;
              yEnd = e.touches[0].pageY;
              //左右滑动
              if(Math.abs(xStart - xEnd) > Math.abs(yStart - yEnd)){
                  e.preventDefault();
              }
          // console.log(parseInt(e.touches[0].clientX) + ',' + parseInt(e.touches[0].clientY))
          let moveX = parseInt(e.touches[0].clientX * canvasScale)
          let moveY = parseInt(e.touches[0].clientY * canvasScale)
          that.ARR_POINT.forEach(point => {
          if((moveX >= point.x - random && moveX <= point.x + random) && (moveY >= point.y - random && moveY <= point.y + random)){
              if(startPoint){
                  ctx.lineTo(point.x,point.y);//连线至此星点
                  ctx.strokeStyle="#28ffff";
                  ctx.lineWidth=2 * canvasScale;
                  ctx.closePath();
                  ctx.stroke();
                  ctx.moveTo(point.x,point.y);//重新将画笔移到此星点
                  isline = true;
              }else{
                ctx.beginPath();
                ctx.moveTo(point.x,point.y);//将画笔移到此处 连线 的起始点
                startPoint = true;
              }
              // 计算个数
              if(!point.status){
                point.status = true;
              }
            }else{
              // console.log('no')
            }
          });
          
        });
        //监听手指离开屏幕 的一瞬间
          canvas.addEventListener('touchend',function(e){
            // console.log(parseInt(e.changedTouches[0].clientX) + ',' + parseInt(e.changedTouches[0].clientY))

            that.ARR_POINT_times = 0;
            that.ARR_POINT.forEach(point => {
              if(point.status){
                that.ARR_POINT_times++;
              }
            })
        });

    }
  },
  mounted(){
    setTimeout(() => {
      if(this.$refs.d_text){
          this.$refs.d_text.classList.add('fadeOut')
      }
    }, 2000);
    setTimeout(() => {
      if( this.$refs.d_roate){
         this.$refs.d_roate.classList.add('fadeOut')
      }
    }, 2500);
    isline = false;
    // console.log(document.body.offsetWidth)
    // console.log(document.body.offsetHeight)

    document.body.addEventListener('touchmove', mo, {passive: false}); //passive 参数不能省略，用来兼容ios和android
    if( document.body.offsetWidth >= 320 && document.body.offsetWidth <= 350){
      baseX = 1.55 * canvasScale;
      random = 20 * canvasScale
    }else if( document.body.offsetWidth >= 350 && document.body.offsetWidth <= 375){
      baseX = 1.8 * canvasScale;
    }else if( document.body.offsetWidth >= 375 && document.body.offsetWidth <= 412){
      baseX = 1.9 * canvasScale;
    }else if( document.body.offsetWidth >= 412){
      baseX = 2 * canvasScale;
    }
    if( document.body.offsetHeight >= 480 && document.body.offsetHeight < 554){
      baseY = 1.1 * canvasScale;
      random = 20 * canvasScale
    }else if( document.body.offsetHeight >= 554 && document.body.offsetHeight < 568){
      baseY = 1.25 * canvasScale;
    }else if( document.body.offsetHeight >= 568 && document.body.offsetHeight < 603){
      baseY = 1.3 * canvasScale;
    }else if( document.body.offsetHeight >= 603 && document.body.offsetHeight < 677){
      baseY = 1.4 * canvasScale;
    }else if( document.body.offsetHeight >= 677 && document.body.offsetHeight < 717){
      baseY = 1.6 * canvasScale;
    }else if( document.body.offsetHeight >= 717 && document.body.offsetHeight < 736){
      baseY = 1.7 * canvasScale;
    }else if( document.body.offsetHeight >= 736 && document.body.offsetHeight < 808){
      baseY = 1.8 * canvasScale;
    }else if(document.body.offsetHeight >= 808 ){
      baseY = 1.9 * canvasScale;
    }
    // if( document.body.offsetWidth <= 320 && document.body.offsetHeight <= 480){
    //   // 320 * 480
    //   baseX = 1.55 * canvasScale;
    //   baseY = 1.1 * canvasScale;
    //   random = 20 * canvasScale
    // }else if(document.body.offsetWidth >= 320 && document.body.offsetHeight === 568){
    //    // 414 * 736
    //   baseX = 1.55 * canvasScale;
    //   baseY = 1.4 * canvasScale;
    // }else if(document.body.offsetWidth === 414 && document.body.offsetHeight === 736){
    //    // 414 * 736
    //   baseX = 1.95 * canvasScale;
    //   baseY = 1.7 * canvasScale;
    // }else if(document.body.offsetWidth === 375 && document.body.offsetHeight === 812){
    //    // 375 * 812 
    //   baseY = 1.9 * canvasScale;
    // }

    this.ARR_POINT = [{x:30*baseX,y:40*baseY,status:false},{x:80*baseX,y:25*baseY,status:false},{x:140*baseX,y:20*baseY,status:false},{x:180*baseX,y:30*baseY,status:false},
      {x:40*baseX,y:95*baseY,status:false},{x:95*baseX,y:80*baseY,status:false},{x:120*baseX,y:105*baseY,status:false},{x:160*baseX,y:78*baseY,status:false},
      {x:70*baseX,y:119*baseY,status:false},{x:145*baseX,y:121*baseY,status:false},{x:190*baseX,y:118*baseY,status:false},
      {x:18*baseX,y:150*baseY,status:false},{x:50*baseX,y:150*baseY,status:false},{x:94*baseX,y:155*baseY,status:false},{x:144*baseX,y:158*baseY,status:false},{x:172*baseX,y:145*baseY,status:false},{x:125*baseX,y:175*baseY,status:false},{x:80*baseX,y:185*baseY,status:false},{x:170*baseX,y:190*baseY,status:false},
      {x:18*baseX,y:211*baseY,status:false},{x:105*baseX,y:209*baseY,status:false},{x:135*baseX,y:202*baseY,status:false},{x:180*baseX,y:214*baseY,status:false},
      {x:24*baseX,y:241*baseY,status:false},{x:62*baseX,y:238*baseY,status:false},{x:135*baseX,y:246*baseY,status:false},{x:170*baseX,y:258*baseY,status:false},
      {x:56*baseX,y:270*baseY,status:false},{x:120*baseX,y:272*baseY,status:false},{x:190*baseX,y:280*baseY,status:false},
      {x:35*baseX,y:308*baseY,status:false},{x:102*baseX,y:330*baseY,status:false},{x:178*baseX,y:315*baseY,status:false},
      {x:28*baseX,y:352*baseY,status:false},{x:60*baseX,y:348*baseY,status:false},{x:100*baseX,y:379*baseY,status:false},{x:140*baseX,y:365*baseY,status:false}]
    this.init()
    this.drawline()
  }
}
</script>

<style scoped  lang="less">

    .bg{ 
      width: 100%; 
      height:100%;
      background: url('/static/img/starbg2.png') center;
      background-size: cover; 
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      margin: 0 auto;
      .drawlinestar{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: blink 2s infinite ease-in-out;
      }
      .start{
        position: absolute;
         margin: 0 auto;
        width: 280px;
        height: 280px;
        top: 15%;
        left: 50%;
        transform: translate(-50%,0);
        .roate{
            animation: myrotate 50s infinite linear;
        }
        .text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
             animation:blinkTWo 1.5s ease-in;
        }
      }
     
    }

    .fadeOut{
      animation:fadeOut 1s ease-in !important; 
      animation-fill-mode: forwards !important;
    }

    @-webkit-keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

     @-webkit-keyframes blinkTWo {
        0% {
            opacity: 1;
        }
        25% {
             opacity: 0.2;
        }
        50%{
          opacity: 1;
        }
        75% {
             opacity: 0.2;
        }
        100% {
             opacity: 1;
        }
    }
    
    @keyframes blinkTWo {
        0% {
            opacity: 1;
        }
        25% {
             opacity: 0.2;
        }
        50%{
          opacity: 1;
        }
        75% {
             opacity: 0.2;
        }
        100% {
             opacity: 1;
        }
    }
    




</style>
