<template>
  <div style="width:100%;height:100%;">
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
    export default {
        name: 'Index',
        data() {
            return {
                msg: ''
            }
        }
    }
</script>

<style>
    .fade-enter {
        opacity: 0;
    }
    
    .fade-leave {
        opacity: 1;
    }
    
    .fade-enter-active {
        transition: opacity .2s;
    }
    
    .fade-leave-active {
        opacity: 0;
        transition: opacity .2s;
    }
</style>