<template>
  <div ref="imageTofile" class="content">
    <!-- <img width="100%" height="1020px" src="../../assets/images/poster/border.png" alt=""> -->
    <img width="100%" height="680px" src="../../assets/images/poster/border.png" alt="">
    <div class="p_bg">
      <!-- A星 -->
      <div class="p_star" v-if="random_star == 1">
        <!-- 男 -->
        <div v-if="gender == 'man'">
          <img src="../../assets/images/details/A-M-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/A-M.png" width="60%" alt="">
          </div>
        </div>
        <!-- 女 -->
        <div v-if="gender == 'woman'">
          <img src="../../assets/images/details/A-W-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/A-W.png" width="60%" alt="">
          </div>
        </div>
      </div>
      <!-- C星 -->
      <div class="p_star" v-if="random_star == 2">
        <!-- 男 -->
        <div v-if="gender == 'man'">
          <img src="../../assets/images/details/C-M-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/C-M.png" width="60%" alt="">
          </div>
        </div>
        <!-- 女 -->
        <div v-if="gender == 'woman'">
          <img src="../../assets/images/details/C-W-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/C-W.png" width="60%" alt="">
          </div>
        </div>
      </div>
      <!-- I星 -->
      <div class="p_star" v-if="random_star == 3">
        <!-- 男 -->
        <div v-if="gender == 'man'">
          <img src="../../assets/images/details/I-M-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/I-M.png" width="60%" alt="">
          </div>
        </div>
        <!-- 女 -->
        <div v-if="gender == 'woman'">
          <img src="../../assets/images/details/I-W-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/I-W.png" width="60%" alt="">
          </div>
        </div>
      </div>
      <!-- L星 -->
      <div class="p_star" v-if="random_star == 4">
        <!-- 男 -->
        <div v-if="gender == 'man'">
          <img src="../../assets/images/details/L-M-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/L-M.png" width="60%" alt="">
          </div>
        </div>
        <!-- 女 -->
        <div v-if="gender == 'woman'">
          <img src="../../assets/images/details/L-W-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/L-W.png" width="60%" alt="">
          </div>
        </div>
      </div>
      <!-- P星 -->
      <div class="p_star" v-if="random_star == 5">
        <!-- 男 -->
        <div v-if="gender == 'man'">
          <img src="../../assets/images/details/P-M-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/P-M.png" width="60%" alt="">
          </div>
        </div>
        <!-- 女 -->
        <div v-if="gender == 'woman'">
          <img src="../../assets/images/details/P-W-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/P-W.png" width="60%" alt="">
          </div>
        </div>
      </div>
      <!-- S星 -->
      <div class="p_star" v-if="random_star == 6">
        <!-- 男 -->
        <div v-if="gender == 'man'">
          <img src="../../assets/images/details/S-M-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/M.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/S-M.png" width="60%" alt="">
          </div>
        </div>
        <!-- 女 -->
        <div v-if="gender == 'woman'">
          <img src="../../assets/images/details/S-W-Text.png" width="55%" alt="">
          <div class="p_avatar">
            <img class="p_avatar-box" src="../../assets/images/details/W.png" width="100%" alt="">
            <div class="p_avatar-url">
              <img :src="avatarUrl" v-if="avatarUrl != ''">
            </div>
          </div>
          <div class="p_details_A">
            <img src="../../assets/images/details/S-W.png" width="60%" alt="">
          </div>
          <!-- <div class="details_B">
            <img src="../../assets/images/details/S-W-B.png" width="75%" alt="">
          </div> -->
        </div>
      </div>
      <canvas id="qrcode" class="qrcode"></canvas>
      <img class="qrcede-text" src="../../assets/images/poster/text.png" alt="">
    </div>
    <div ref="getResult"></div>
  </div>
</template>

<script>
    // 引入html2canvas
    import html2canvas from 'html2canvas'
    // 引入qrcode
    import QRCode from 'qrcode'
    export default {
        // 注册组件
        components: {
            html2canvas,
            QRCode
        },
        name: 'Poster',
        data() {
            return {
                gender: '',
                random_star: '',
                avatarUrl: ''
            }
        },
        mounted() {
            // document.body.style.overflow='scroll';

            //生成二维码
            var qrcode = document.getElementById('qrcode');
            QRCode.toCanvas(qrcode, 'https://calpis.gypserver.com/#/', {
                margin: 1
            });
            this.gender = localStorage.getItem('gender');
            this.random_star = localStorage.getItem('random_star');
            // this.avatarUrl = this.$root.avatarIMG
            this.avatarUrl = localStorage.getItem('avatarUrl');

        },
        methods: {
            toImage() {
                let that = this;
                // 第一个参数是需要生成截图的元素,第二个是自己需要配置的参数,宽高等
                html2canvas(this.$refs.imageTofile, {
                    backgroundColor: null,
                    useCORS: true
                }).then((canvas) => {
                    let url = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream"); // 获取生成的图片的url
                    //  this.fileDownload(url)
                    // that.$refs.imageTofile.innerHTML = ''
                    let img = document.createElement("img");
                    img.src = url;
                    img.style.width = "100%"
                        // img.style.height = "1020px"
                    that.$refs.getResult.appendChild(img)

                    that.$dialog.loading.close();
                })
            },
            //下载图片(浏览器端有效 手机端没反应)
            fileDownload(downloadUrl) {
                let aLink = document.createElement("a");
                aLink.style.display = "none";
                aLink.href = downloadUrl;
                aLink.download = "星缘测试.png";
                // 触发点击-然后移除
                document.body.appendChild(aLink);
                aLink.click();
                document.body.removeChild(aLink);
            }
        }
    }
</script>

<style lang="less" scoped>
    .content {
        width: 100%;
        /* height: 1020px; */
        position: relative;
        overflow: hidden;
    }
    
    .p_bg {
        position: absolute;
        top: 15px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .p_star {
            margin-top: 15px;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                width: 100%;
                box-sizing: border-box;
                .p_avatar {
                    width: 200px;
                    height: 200px;
                    position: relative;
                    margin-top: -15px;
                    overflow: hidden;
                    .p_avatar-box {
                        animation: myrotate 50s infinite linear;
                    }
                    .p_avatar-url {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        border-radius: 50%;
                        padding: 50px;
                        img {
                            width: 120px;
                            height: 120px;
                            border-radius: 50%;
                        }
                    }
                }
                .p_details_A {
                }
            }
        }
        .qrcode {
            width: 70px !important;
            height: 70px !important;
            margin-top: 15px;
        }
        .qrcede-text {
            width: 70px;
            margin-top: 10px;
        }
    }
</style>