<template>
    <div class="bg">
        <img src="../../assets/images/share/main.png" alt="">
    </div>
</template>

<script>
export default {
    name: 'Share',
    mounted(){
        this.$root.isshowBGM = false;//隐藏背景音乐的图标
    }
}
</script>

<style lang="less" scoped>
.bg{
    width: 100%;
    height: 100%;
    background: #10459c;
    position: relative;
    img{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 50%;
    }
}
</style>
