<template>
    <div class="bg" >
        <img class="start" src="/static/img/start.png" style="width:90%" alt="">
        <img class="text" src="../../assets/images/start/text.png" style="width:45%" alt="">
        <img @click="goTakePhoto" class="btn" src="../../assets/images/start/btn.png" alt="">
    </div>
</template>

<script>
    export default {
        name: 'Start',
        data() {
            return {
                msg: ''
            }
        },
        // beforeRouteEnter (to, from, next) {
            
        //     next(vm => {
        //         //清空所有缓存 
        //         if(from.name === 'Gravity2' || from.name === 'Gravity3'){
        //             localStorage.removeItem('avatarUrl')
        //             localStorage.removeItem('gender')
        //             localStorage.removeItem('random_star')
        //         }
        //     });
        // },
        beforeRouteLeave(to, from, next) {
            if(to.name === 'Details'){

            }else{
                localStorage.removeItem('avatarUrl')
                localStorage.removeItem('gender')
                localStorage.removeItem('random_star')
            }
            next()
        },
        methods: {
            goTakePhoto() {
                this.$router.replace('/starpoint/userinfo2')
            }
        },
        mounted() {
             
        }
    }
</script>

<style scoped>
    .bg {
        width: 100%;
        height: 100%;
        background: url('/static/img/bg.png') center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .start {
        margin-top: 20%;
        animation: fadeIn 1s ease-in;
        animation: myrotate 50s infinite linear;
    }
    
    .text {
        margin-top: -55%;
        animation: fadeIn 1.5s ease-in;
    }
    
    .btn {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);
        width: 30%;
    }
</style>