<template>
    <div class="bg">
       <img class="star" src="../../assets/images/star1.png"  style="width:100%"  alt="">
        <!-- <img class="takephoto" @click="goUserInfo()" src="../../assets/images/takephoto.png" style="width:70%" alt=""> -->
        <img class="star" src="../../assets/images/star2.png"  style="width:100%"  alt="">
    </div>
</template>

<script>

export default {
name: 'TakePhoto',
  data () {
    return {
      avatarUrl: ''
    }
  },
 
  methods:{
    goUserInfo(){
      this.$router.replace('/starpoint/userinfo2') 
    },
     
  },
  mounted(){
    //禁止滚动页面
    // document.body.style.overflow='hidden';
    // var mo = function(e){e.preventDefault();};
    // document.addEventListener("touchmove",mo,{ passive: false });//禁止页面滑动
  }
}
</script>

<style scoped>
    .bg{
      width: 100%; 
      height: 100%;
      background: url('/static/img/starbg.png') center;
      background-size: cover; 
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
       overflow-y: hidden;
        overflow-x: hidden;
    }
    .takephoto{
      animation:fadeIn 1s ease-in; 
      z-index: 2;
    }
    .star{
      animation:blink 2s infinite ease-in-out; 
    }
</style>
