<template>
  <div class="bg">
    <img class="star" src="../../assets/images/star1.png" width="100%" alt="">
    <div class="takephotoBox" v-show="showTakePhoto" @click="hideTakePhoto()">
      <img class="takephotoBg" src="../../assets/images/userinfo/photo_tipBg.png" alt="">
      <img class="takephotoImg" src="../../assets/images/userinfo/photo_tip.png" alt="">
    </div>
    <!-- 上传头像框 -->
    <div v-show="!showTakePhoto" class="avatarBox">
      <img class="roate" src="/static/img/start.png" alt="">
      <div class="avatar">
        <div>
          <img :src="avatarUrl" v-if="avatarUrl != ''">
          <input id="inputfile2" ref="inputfile2" type="file" accept="image/*" multiple @change="upFile2($event)">
          <div ref="newImgBox" class="newImgBox">
            <div class="newImgBox_inner">
              <canvas id="canvas2"></canvas>
            </div>
          </div>
          <!-- <div class="newImgBox_get"></div> -->

        </div>
      </div>
    </div>
    <!-- 性别button -->
    <div v-show="!showTakePhoto" class="gender">
      <img @click="checkGender('man')" src="../../assets/images/userinfo/man.png" :style="manStyle" :width="manPX"
        style="margin-right:15px;" class="genderChildImg1" alt="">
      <img @click="checkGender('woman')" src="../../assets/images/userinfo/woman.png" :style="womanStyle"
        :width="womanPX" alt="">
    </div>
    <img v-show="!showTakePhoto" class="text" src="../../assets/images/userinfo/text.png" width="90px" alt="">
    <!-- 开始预测button -->
    <div>
      <img v-show="!showTakePhoto && isBoxshowImg" class="btn" @click="changeChoose()"
        src="../../assets/images/userinfo/rechoose.png" style="width:120px;" alt="">
      <img v-show="!showTakePhoto" class="btn" @click="goDrawline()" src="../../assets/images/userinfo/button.png"
        style="width:120px;margin-left:10px;" alt="">
    </div>


    <img class="star" src="../../assets/images/star2.png" width="100%" alt="">
  </div>
</template>

<script>
    // 引入html2canvas
    import html2canvas from 'html2canvas'
    import {
        setTimeout
    } from 'timers';
    export default {
        name: 'UserInfo2',
        data() {
            return {
                avatarUrl: '',
                manPX: '20px',
                womanPX: '20px',
                manStyle: '',
                womanStyle: '',
                gender: '', //默认 男
                isChsImg: false, //重选图片后生成新storage，否则直接下一页
                isBoxshowImg: false, //box中显示图片
                showTakePhoto: true
            }
        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                if (from.name === 'StarPointStart') {
                    // vm.$refs.inputfile2.click()
                    vm.showTakePhoto = true
                } else {
                    vm.showTakePhoto = false
                }
            });
        },
        methods: {
            upFile(e) {
                try {
                    this.$dialog.loading.open('图片正在上传中');
                    //  let maxSize = 5000 * 1024; //500kb
                    let that = this;
                    var file = e.target.files[0];
                    var suffix = file.name.substring(file.name.lastIndexOf('.') + 1).toUpperCase();
                    console.log(e.target.files[0])
                        //   if(e.target.files[0].size >  maxSize){
                        //      that.$dialog.loading.close();
                        //      this.$dialog.toast({
                        //         mes: '您上传的图片过大，换张图片试试哦~',
                        //         timeout: 2000
                        //      });
                        //   }else 
                    if (suffix != "BMP" && suffix != "JPG" && suffix != "JPEG" && suffix != "PNG" && suffix != "GIF") {
                        that.$dialog.loading.close();
                        this.$dialog.toast({
                            mes: '请上传图片格式哦~',
                            timeout: 2000
                        });
                    } else {
                        var reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onload = function(e) {
                            that.$dialog.loading.close();
                            that.avatarUrl = e.target.result;
                        };
                    }
                } catch (err) {
                    console.log(err)
                }

            },
            // 点击开始预测
            goDrawline() {
               
                let that = this;
                that.$dialog.loading.open();
                if (!this.gender) {
                    that.$dialog.loading.close();
                    this.$dialog.toast({
                        mes: '为了更好的为您预测星缘，请选择性别哦~',
                        timeout: 2000
                    });
                    return;
                }
                // var newImgUrl = $('#canvas2')[0].toDataURL("image/jpeg", 1);
                // localStorage.setItem('avatarUrl', newImgUrl);
                // this.avatarUrl = newImgUrl;
                if (!this.isChsImg) {
                    if (localStorage.getItem('avatarUrl') != '' && localStorage.getItem('avatarUrl') != null) {
                        localStorage.setItem('gender', this.gender)
                        that.$dialog.loading.close();
                        this.$router.replace('/starpoint/drawline')
                    } else {
                        that.$dialog.loading.close();
                        this.$dialog.toast({
                            mes: '为了更好的为您预测星缘，请先上传图片哦~',
                            timeout: 2000
                        });
                        setTimeout(() => {
                            // that.$router.replace('/starpoint/takephoto')
                            this.$refs.inputfile2.click();
                        }, 2000);
                    }
                    return
                }

                html2canvas(document.querySelector(".newImgBox")).then(canvas => {
                    // $('.newImgBox_get').append(canvas)
                    var newImgUrl = canvas.toDataURL("image/jpeg", 1);
                    localStorage.setItem('avatarUrl', newImgUrl);
                    // this.avatarUrl = newImgUrl;



                    if (localStorage.getItem('avatarUrl') != '' && localStorage.getItem('avatarUrl') != null) {
                        localStorage.setItem('gender', this.gender)
                        that.$dialog.loading.close();
                        this.$router.replace('/starpoint/drawline')
                    } else {
                        that.$dialog.loading.close();
                        this.$dialog.toast({
                            mes: '为了更好的为您预测星缘，请先上传图片哦~',
                            timeout: 2000
                        });
                        setTimeout(() => {
                            // that.$router.replace('/starpoint/takephoto')
                            this.$refs.inputfile2.click();
                        }, 2000);
                    }
                });

            },
            // 选择性别
            checkGender(gender) {
                localStorage.setItem('gender', gender) //本地缓存
                this.gender = gender;
                if (gender == 'man') {
                    // this.manPX = '30px';
                    // this.womanPX = '20px';
                    this.manStyle = 'transform: scale(1.4,1.4) rotate(-2deg);';
                    this.womanStyle = 'transform: scale(1,1)';
                } else {
                    // this.manPX = '20px';
                    // this.womanPX = '30px';
                    this.womanStyle = 'transform: scale(1.4,1.4);';
                    this.manStyle = 'transform: scale(1,1) rotate(-2deg);';
                }
            },
            changeChoose() {
                if (this.isBoxshowImg) {
                    this.$refs.inputfile2.click()
                }
            },
            ////////////////////////
            ////////////////////////
            ////////////////////////
            ////////////////////////
            ////////////////////////
            ////////////////////////
            ////////////////////////
            ////////////////////////

            upFile2(e) {
                var self = this;

                var file = e.target.files[0];
                if (file.type.indexOf('image') == -1) {
                    alert('请选择图片');
                } else {
                    // this.startFileToImg(file);

                    this.$dialog.loading.open('上传图片中');
                    var reader = new FileReader();
                    reader.onload = function(e) {

                        var file_result = e.target.result;
                        self.getImgOrientation(file, file_result)

                        // localStorage.setItem('avatarUrl', e.target.result)
                    }
                    reader.readAsDataURL(file); //转base64
                }
            },
            getImgOrientation(file, file_url) {
                var self = this;
                var orientation = 0;
                EXIF.getData(file, function() {
                    console.log('--------------------', EXIF.getTag(this, 'Orientation'))
                    orientation = EXIF.getTag(this, 'Orientation') || 0;
                    self.startFileToImg(file, file_url, orientation)
                });
            },
            startFileToImg(file, file_url, orientation) {
                console.log('startFileToImg')
                var self = this;

                var blob = file_url || "";
                if (!file_url) {
                    var URL = window.URL || window.webkitURL;
                    blob = URL.createObjectURL(file);
                }

                var canvas = document.createElement("canvas");
                var ctx = canvas.getContext("2d");



                var canvas2 = $('#canvas2')[0];
                var canvasWidth = canvas2.width,
                    canvasHeight = canvas2.height;
                var stage = new createjs.Stage(canvas2);
                console.log(stage)
                var lefts, tops, scaleVal, rotates = 0,
                    ctrEle = null;



                var photo = new Image();
                photo.onload = function() {
                    console.log('----loading')
                    self.isChsImg = true;
                    self.isBoxshowImg = true;

                    console.log("是否---需要旋转", orientation)
                        //常见1 3 6 8
                        //1不 //3-180 //6顺90 //8逆90
                        //2左右 //4上下 //5顺90后2 //7逆90后2
                        // switch (orientation) {
                        //     case 3: //需要180度旋转
                        //         self.rotateImg(this, 'right', canvas); //转两次
                        //         self.rotateImg(this, 'right', canvas);
                        //         break;
                        //     case 6: //需要顺时针（向左）90度旋转
                        //         self.rotateImg(this, 'left', canvas);
                        //         break;
                        //     case 8: //需要逆时针（向右）90度旋转
                        //         self.rotateImg(this, 'right', canvas);
                        //         break;
                        //     default:
                        //         console.log("【不】-----需要旋转")
                        //         ctx.drawImage(this, 0, 0, canvas.width, canvas.height);
                        //         break;
                        // }
                    var _ele = getComputedStyle(self.$refs.newImgBox)
                    var _www = parseInt(_ele.width)
                    var _hhh = parseInt(_ele.height)
                    var _winW = document.documentElement.clientWidth*1.5;
                    if(this.naturalWidth < _winW ){
                        if (_www > this.naturalWidth || _hhh > this.naturalHeight) {
                            canvas2.width = _www;
                            canvas2.height = _hhh;
                        } else {
                            canvas2.width = this.naturalWidth;
                            canvas2.height = this.naturalHeight;
                        }
                    }else{
                        let _scale = _winW/this.naturalWidth;
                        canvas2.width = _winW
                        canvas2.height = this.naturalHeight*_scale;
                    }


                    photo.orientation = orientation;
                    var cPhoto = new createjs.Bitmap(photo);
                    var cp_scale;
                    switch (photo.orientation) {
                        case 1:
                            photo.c_width = photo.width;
                            photo.c_height = photo.height;
                            // cp_scale = canvasHeight / photo.c_height;
                            break;
                        case 3:
                            photo.c_width = photo.width;
                            photo.c_height = photo.height;
                            // cp_scale = canvasHeight / photo.c_height;
                            cPhoto.rotation = 180;
                            break;
                        case 6:
                            photo.c_width = photo.height;
                            photo.c_height = photo.width;
                            // cp_scale = canvasHeight / photo.c_height;
                            cPhoto.rotation = 90;
                            break;
                        case 8:
                            photo.c_width = photo.height;
                            photo.c_height = photo.width;
                            // cp_scale = canvasHeight / photo.c_height;
                            cPhoto.rotation = 270;
                            break;
                        default:
                            photo.c_width = photo.width;
                            photo.c_height = photo.height;
                            // cp_scale = canvasWidth / photo.c_width;
                            break;
                    }
                    var cp_scale = canvasWidth / photo.c_width;
                    rotates = cPhoto.rotation;
                    cPhoto.name = "photo";
                    cPhoto.scaleX = cPhoto.scaleY = scaleVal = cp_scale;
                    cPhoto.regX = photo.width / 2;
                    cPhoto.regY = photo.height / 2;
                    cPhoto.x = lefts = canvasWidth / 2;
                    cPhoto.y = tops = canvasHeight / 2;
                    stage.addChild(cPhoto);
                    ctrEle = stage.getChildByName('photo');


                    // var newImgUrl = canvas.toDataURL("image/png", 1)
                    // $(canvas).css('width', '100%');
                    // $(canvas).attr('id', "newImg");

                    //隐藏旧图，显示新图
                    self.avatarUrl = "";
                    $('.newImgBox').css('left', 0);
                    $('.newImgBox .newImgBox_inner')
                        // .append('<div id="newImg" ><img style="width:100%;" src="' +
                        //     newImgUrl + '" alt="" ></div>')
                        // .append(canvas)
                        // photo.orientation = orientation;

                    // localStorage.setItem('avatarUrl', newImgUrl)
                    // localStorage.setItem('avatarUrl', this.src)

                    // self.touchEventBox(newImgUrl);

                    // var newImgUrl2 = canvas2.toDataURL("image/jpeg", 1)
                    // $('.newImgBox .newImgBox_inner')
                    //     .append('<div id="newImg" ><img style="width:100%;" src="' +
                    //         newImgUrl2 + '" alt="" ></div>')
                    self.touchEventBox2(stage, ctrEle, scaleVal, lefts, tops, rotates);
                    self.$dialog.loading.close();

                }
                photo.src = blob

            },
            //
            rotateImg(img, direction, canvas) {
                console.log('rotateImg-------');
                //最小与最大旋转方向，图片旋转4次后回到原方向
                var min_step = 0;
                var max_step = 3;
                //var img = document.getElementById(pid);
                if (img == null) return;
                //img的高度和宽度不能在img元素隐藏后获取，否则会出错
                var height = img.height;
                var width = img.width;
                //var step = img.getAttribute('step');
                var step = 2;
                if (step == null) {
                    step = min_step;
                }
                if (direction === 'right') {
                    step++;
                    //旋转到原位置，即超过最大值
                    step > max_step && (step = min_step);
                } else {
                    step--;
                    step < min_step && (step = max_step);
                }
                //旋转角度以弧度值为参数
                var degree = step * 90 * Math.PI / 180;
                var ctx = canvas.getContext('2d');
                switch (step) {
                    case 0:
                        canvas.width = width;
                        canvas.height = height;
                        ctx.drawImage(img, 0, 0);
                        break;
                    case 1:
                        canvas.width = height;
                        canvas.height = width;
                        ctx.rotate(degree);
                        ctx.drawImage(img, 0, -height);
                        break;
                    case 2:
                        canvas.width = width;
                        canvas.height = height;
                        ctx.rotate(degree);
                        ctx.drawImage(img, -width, -height);
                        break;
                    case 3:
                        canvas.width = height;
                        canvas.height = width;
                        ctx.rotate(degree);
                        ctx.drawImage(img, -width, 0);
                        break;
                }
            },
            //
            touchEventBox(url) {
                console.log('touchEventBox---')
                    // var ctrEle = url ? 1 : 0;
                var scaleVal = "";
                var _imgObj = {
                    scaleX: 1,
                };

                var curStatus = 0; //记录当前手势的状态, 0:拖动, 1:缩放, 2:旋转
                var dx = 0,
                    dy = 0,
                    angle = 0;

                touch.on('#newImg', 'touchstart', function(ev) {
                    if (!ctrEle) {
                        return false;
                    }
                    curStatus = 0;
                    scaleVal = _imgObj.scaleX;

                    // ev.startRotate();
                    ev.preventDefault(); //阻止默认事件
                });
                touch.on('#newImg', 'drag', function(ev) {
                    if (!ctrEle) {
                        return false;
                    }
                    var localX = dx + ev.x + 'px';
                    var localY = dy + ev.y + 'px';
                    this.style.webkitTransform = "translate3d(" + localX + "," + localY + ",0)";
                });
                touch.on('#newImg', 'dragend', function(ev) {
                    if (!ctrEle) {
                        return false;
                    }
                    dx += ev.x;
                    dy += ev.y
                });
                touch.on('#newImg00', 'pinch rotate', function(ev) {
                    if (!ctrEle) {
                        return false;
                    }

                    if (curStatus == 2) {
                        return;
                    }
                    var ss = scaleVal * ev.scale;
                    //$(".text").val(ss);
                    // ctrEle.scaleX = ctrEle.scaleY = ss;
                    // this.style

                    var totalAngle = rotates + ev.rotation;
                    if (ev.fingerStatus === 'end') {
                        rotates = rotates + ev.rotation;
                    }
                    this.style.webkitTransform = 'rotate(' + totalAngle + 'deg)';
                });
                touch.on('#newImg00', 'pinchend', function(ev) {
                    if (!ctrEle) {
                        return false;
                    }
                    if (curStatus == 2) {
                        return;
                    }
                    scaleVal = currentScale;
                });
            },
            //
            touchEventBox2(stage, ctrEle, scaleVal, lefts, tops, rotates) {
                var curStatus = 0; //记录当前手势的状态, 0:拖动, 1:缩放, 2:旋转
                touch.on('#canvas2', 'touchstart', function(ev) {
                    if (!ctrEle) {
                        return false;
                    }
                    curStatus = 0;
                    scaleVal = ctrEle.scaleX;
                    ev.preventDefault(); //阻止默认事件
                });
                touch.on('#canvas2', 'drag', function(ev) {
                    if (!ctrEle) {
                        return false;
                    }
                    ctrEle.x = lefts + ev.x;
                    ctrEle.y = tops + ev.y;


                });
                touch.on('#canvas2', 'dragend', function(ev) {
                    if (!ctrEle) {
                        return false;
                    }
                    lefts = lefts + ev.x;
                    tops = tops + ev.y;
                });
                touch.on('#canvas2', 'pinch rotate', function(ev) {
                    if (!ctrEle) {
                        return false;
                    }

                    if (curStatus == 2) {
                        return;
                    }
                    var ss = scaleVal * ev.scale;
                    //$(".text").val(ss);
                    ctrEle.scaleX = ctrEle.scaleY = ss;

                    if (ctrEle.name == "slogan") {
                        return false;
                    }
                    var totalAngle = rotates + ev.rotation;
                    if (ev.fingerStatus === 'end') {
                        rotates = rotates + ev.rotation;
                    }
                    ctrEle.rotation = totalAngle;
                });
                touch.on('#canvas2', 'pinchend', function(ev) {
                    if (!ctrEle) {
                        return false;
                    }
                    if (curStatus == 2) {
                        return;
                    }
                    // initialScale = currentScale;
                    scaleVal = currentScale;
                });

                createjs.Ticker.timingMode = createjs.Ticker.RAF;
                createjs.Ticker.addEventListener("tick", tick);
                createjs.Ticker.setFPS(60);

                function tick(event) {
                    stage.update(event);
                }
            },
            hideTakePhoto() {
                this.showTakePhoto = false;
                this.$refs.inputfile2.click();
                // document.getElementById('inputfile2').click();
            }
        },
        mounted() {
            // this.$refs.inputfile2.click()
            // document.body.style.overflow='hidden';
            //不需要显示上次选择
            // if (localStorage.getItem('gender')) {
            //     this.checkGender(localStorage.getItem('gender'))
            // } else {
            //     localStorage.setItem('gender', this.gender)
            // }
            if (localStorage.getItem('avatarUrl')) {
                this.avatarUrl = localStorage.getItem('avatarUrl')
                this.isBoxshowImg = true;
            }
            // this.avatarUrl = this.$root.avatarIMG
        },
        watch: {
            avatarUrl(newVal, oldVal) {
                this.$root.avatarIMG = newVal;
                // localStorage.setItem('avatarUrl',newVal)
            }
        },
    }
</script>

<style lang="less" scoped>
    .takephotoBox {
        text-align: center;
        .takephotoBg {
            position: relative;
            width: 70%;
            animation: blink 1.4s infinite linear;
        }
        .takephotoImg {
            width: 38%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
    
    .bg {
        width: 100%;
        height: 100%;
        background: url('/static/img/starbg.png') center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
        justify-content: center;
    }
    
    .takephoto {
        animation: fadeIn 1s ease-in;
        z-index: 2;
    }
    
    .avatarBox {
        z-index: 2;
        width: 300px;
        height: 300px;
        position: relative;
        img {
            width: 100%;
        }
        .avatar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 60px;
            box-sizing: border-box;
            div {
                position: relative;
                width: 100%;
                height: 100%;
                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 3;
                }
                img {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                }
            }
        }
    }
    
    .star {
        animation: blink 2s infinite ease-in-out;
    }
    
    .gender {
        z-index: 2;
        /* height: 60px; */
        margin: 5px 0 10px;
        display: table;
        img {
            vertical-align: middle;
        }
        .genderChildImg1 {
            transform: rotate(-2deg);
        }
    }
    
    .text {
        margin-bottom: 10px;
    }
    
    .roate {
        animation: myrotate 50s infinite linear;
    }
    
    .btn {
        z-index: 99999;
    }
    
    .newImgBox {
        position: absolute;
        top: 0;
        left: 100%;
        overflow: hidden;
        border-radius: 50%;
        z-index: 5;
    }
    
    .newImgBox_inner {
        position: absolute !important;
        top: 0;
        left: 0;
    }
    
    @keyframes blink2 {
        0% {
            opacity: 0.4;
        }
        100% {
            opacity: 0.8;
        }
    }
    
    .newImgBox_inner #canvas2 {
        /* width: 100%; */
    }
</style>