<template>
  <div style="width:100%;height:100%;background:#002245">
      <img v-show="$root.isshowBGM" id='bgmicon' @click="PlayorPaused" :src=bgmiconUrl width="40px" height="40px" alt="">
      <audio  id="bgmmusic" preload loop="loop" src="../static/bgm/bgm.mp3">
      您的浏览器不支持 audio 标签。</audio>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>

</template>

<script>
    let bgmmusic 
    export default {
        name: 'App',
        data(){
            return {
                bgmiconUrl : '../static/img/bgmicon.png'
            }
        },
        created() {

        },
        mounted() {
            this.$root.isshowBGM = true;//显示背景音乐的图标
            this.audioPlay()
        },
        methods:{
             audioPlay() {
                bgmmusic = document.getElementById('bgmmusic')
                // var play = function() {
                //     bgmmusic.play();
                //      document.removeEventListener('touchstart', play, false)
                // }
                bgmmusic.play();
                document.addEventListener('WeixinJSBridgeReady', function() {
                    bgmmusic.play();
                }, false);
                // document.addEventListener('touchstart', play, false);
            },
            PlayorPaused(){
                console.log('bgmmusic.paused --------' + bgmmusic.paused )
                if(bgmmusic.paused) {
                    this.bgmiconUrl = '../static/img/bgmicon.png'
                    bgmmusic.play();
                } else {
                    this.bgmiconUrl = '../static/img/bgmicon_p.png'
                    bgmmusic.pause();
                }
            }
        }
    }
</script>


<style>
    * {
        padding: 0;
        margin: 0;
   
    }
    /* 去除选中后的外边框 */
    input,
    button,
    a {
        outline: none;
    }
    
    html,
    body,
    #app {
        width: 100%;
        height: 100%;
    }

    #bgmicon{
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 9999999;
    }
    
    .fade-enter {
        opacity: 0;
    }
    
    .fade-leave {
        opacity: 1;
    }
    
    .fade-enter-active {
        transition: opacity .5s;
    }
    
    .fade-leave-active {
        opacity: 0;
        transition: opacity .5s;
    }
    
    #appLoading span {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    /* 淡现 */
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /* 上下跳动 */
    
    @-webkit-keyframes updown {
        0% {
            transform: translate(0%, 0%);
        }
        50% {
            transform: translate(0%, 10%);
        }
        100% {
            transform: translate(0%, 0%);
        }
    }
    
    @keyframes updown {
        0% {
            transform: translate(0%, 0%);
        }
        50% {
            transform: translate(0%, 10%);
        }
        100% {
            transform: translate(0%, 0%);
        }
    }
    /* 旋转 */
    
    @-webkit-keyframes myrotate {
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes myrotate {
        100% {
            transform: rotate(360deg);
        }
    }
    /* 闪烁 */
    
    @-webkit-keyframes blink {
        0% {
            opacity: 0。3;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0。3;
        }
    }
    
    @keyframes blink {
        0% {
            opacity: 0.3;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0.3;
        }
    }
</style>